.calculator{
    height: 370px;
    width: 300px;
    background-color: #e8e8e8;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border:1px solid #777

}
.main-bar{
    margin-bottom: 20px;
    text-align: right;

}
.btn{
    font-size: 20px;
    cursor: pointer;
    width: 61px;
    border-radius: 100%;
}
.line{
    margin-bottom: 10px;
}
.last input{
            width: 61px;
}
#inp{
    height: 75px;
    background-color: red;
    font-size: 23px;
    font-weight: bold;
}

